@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  /*  overflow-x: hidden;*/

  word-wrap: break-word;
  overflow-wrap: anywhere;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
h3 {
  font-size: 28px;
  font-weight: 600;
}
h4 {
  font-size: 24px;
  font-weight: 600;
}
h5 {
  font-size: 20px;
  font-weight: 600;
}
h6 {
  font-size: 16px;
}

.centaX {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.centaXbet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.centaY {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centaYstart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.startYcenta {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.betXcenta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.centaYbet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.colama {
  background-color: rgb(243, 236, 236); 
  /* color: rgb(236, 236, 105); */
}

.active {
  color: rgb(172, 172, 169);
}

.list-grido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;  
}

.text-balnc {
  text-wrap: balance;
}

.hero-shadow {
  box-shadow: 0 0 10px 2cqmin rgb(202, 201, 201);
}

.resmenu-shadow {
  box-shadow: 0 0 10px 0 rgb(209, 208, 208); 
}

.resmenu-active {
  display: flex;
  top: 65px;
  transition: all 2s;
}

.box-shadow {
  box-shadow: 0 0 10px 0 rgb(233, 217, 217); 
  /* align-items:; */
}

.box-target {
  box-shadow: 0 0 10px 0 rgb(106, 233, 127); 
}

.Toastify__toast-container {  
  position: fixed;
  top: 70px;
  z-index: 9999; /* A higher z-index than your header */
}

html {
  scroll-padding-top: 250px; /* Adjust according to your header's height */
}

.textbender {
  word-wrap: break-word;
  overflow-wrap: anywhere;
}
